*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/assets/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.idea
*.iml
*.ipr
.rsync_cache
.project
out
.DS_Store
target/
.lein-repl-history
.cljs_node_repl
public/javascripts/*
.nrepl-port
.repl
resources/public/
resources/data/
resources/uploads/
.lein-plugins/
*-init.clj
figwheel_server.log
public/hicv
docker/vd
.lein-env
docker/.env
.lein-failures

